.contactWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ourContact {
	width: 100%;
	position: relative;
}

.contactCardOffice {
	width: 100%;
	border-width: 1px;
	border-radius: 5px;
	height: 25em;
}

.contactCardForm {
	width: 100%;
	/* margin: 0px 0.5rem; */
	border-width: 1px;
	border-radius: 5px;
	height: 25em;
}

@media screen and (min-width: 768px) {
	.ourContact {
		width: 90%;
		margin: auto;
	}

	.contactWrapper {
		margin-bottom: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	.ourContact {
		width: 75%;
		margin: auto;
	}

	.contactWrapper {
		justify-content: space-between;
	}

	.contactCardOffice {
		width: 40%;
		/* margin-left: 0.75rem; */
		border-width: 1px;
		border-radius: 5px;
		height: 26.5em;
	}

	.contactCardForm {
		width: 55%;
		/* margin-right: 0.75rem; */
		border-width: 1px;
		border-radius: 5px;
		height: 26.5em;
	}
}

/* @media screen and (min-width: 1240px) {
} */
