.container {
	width: 100%;
	padding: 0 0.5rem;
}

.description {
	margin: 4rem 0;
	text-align: center;
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.carouselWrapper {
	width: 100%;
	max-height: 15rem;
	overflow: hidden;
}

.carouselSlider {
	position: relative;
	width: 100%;
	height: fit-content;
}

.carouselText {
	position: absolute;
	top: 5%;
	right: 47.5%;
	width: 50%;
	height: 30%;
	overflow-y: scroll;
	z-index: 999;
}

.companyReasonContainer {
	width: 100%;
	padding: 1rem 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.companyReasonItemWrapper {
	display: flex;
	margin-top: 3em;
	width: 100%;
}

.companyReasonItemSubTitle,
.subTitle {
	font-weight: 600;
	color: var(--gray);
	margin-top: 8px;
}

.companyReasonItemSubTitle {
	font-size: 0.85rem;
}

.companyPartnerContainer {
	width: 100%;
	margin-top: 0.5rem;
	padding: 0;
}

.companyPartnerWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.companyPartnerItem {
	/* border: 1px solid pink; */
	text-align: center;
	width: 100%;
	margin: 0.5rem 0px;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0;
	}

	.carouselWrapper {
		max-height: 30rem;
	}

	.carouselText {
		top: 55%;
		right: 47.5%;
		width: 50%;
		height: 15%;
		overflow: unset;
	}

	.companyPartnerContainer {
		width: 100%;
		padding: 1rem;
	}

	.companyPartnerItem {
		width: 33%;
	}
}

@media screen and (min-width: 1024px) {
	.carouselWrapper {
		max-height: 25rem;
	}

	.carouselText {
		top: 37.5%;
		right: 60%;
		width: 35%;
		height: 17.5%;
		overflow: unset;
	}

	.companyReasonItemWrapper {
		width: 50%;
		height: 175px;
	}

	.companyReasonItemSubTitle {
		max-width: 350px;
	}
}

@media screen and (min-width: 1200px) {
	.carouselText {
		top: 32.5%;
		right: 60%;
		width: 35%;
		height: 15%;
		overflow: unset;
	}
}

@media screen and (min-width: 1440px) {
	.carouselText {
		top: 30%;
		right: 60%;
		width: 35%;
		height: 10%;
		overflow: unset;
	}
}
