.container {
	width: 100%;
	/* padding: 0px 0.5rem; */
}

.scrollContainer {
	width: 100%;
	padding: 0px 0.5rem;
	position: sticky;
	z-index: 9;
	box-shadow: 0 4px 8px rgb(50 50 93 / 5%);
	background-color: white;
}

.container,
.scrollContainer {
	transition: linear;
	transition-delay: 0.15s;
	transition-duration: 0.15s;
	transition-delay: 0.15s;
}

.main {
	width: 100%;
	height: 100%;
	padding: 1rem 0px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border-width: 1px; */
	/* border-color: red; */
}

.companyNameContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.companyNameWrapper {
	width: 70%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.companyNameLogo {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.companyNameTitle {
	display: none;
}

.languageContainer {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}

.companyDescriptionLargeContainer {
	display: none;
}

.companyDescriptionSmallContainer {
	display: flex;
	margin-top: 0.5rem;
}

.companyDescriptionLargeContainer,
.companyDescriptionSmallContainer {
	justify-content: flex-end;
	width: 100%;
}

.companyDescriptionLargeWrapper,
.companyDescriptionSmallWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 0.5rem;
}

.companyDescriptionLargeItem,
.companyDescriptionSmallItem {
	width: 33%;
	text-align: center;
	padding: 10px;
	color: var(--gray);
}

.footer {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 0px;
	/* border-width: 1px; */
	/* border-color: var(--primary-blue); */
}

.footerDescriptionWrapper {
	width: 100%;
	height: 100%;
	padding-left: 0.25em;
	margin-bottom: 0.5em;
}

.footerImage {
	width: 100%;
	height: 15em;
}

.footerAddress {
	max-width: 250px;
	font-size: 14px;
	line-height: 19px;
	color: var(--gray);
}

.footerHelpWrapper {
	width: 100%;
	height: 100%;
	margin: 0.5rem 0px;
}

.footerInfo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 2.5em;
}

.footerCopyright {
	width: 100%;
	border-top: 1px solid #868a92;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0px;
	margin-bottom: 2rem;
}

.navbarContainer {
	display: none;
}

.smallNavbarContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #0096ff;

	position: fixed;
	top: 0;
	z-index: 3;
	color: white;
}

.hamburgerIcon {
	display: block;
}

.closeIcon {
	color: red;
	font-size: 2em;
	display: inline-flex;
	float: right;
	margin-top: 0.5rem;
	margin-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.companyDescriptionSmallItem,
.activeLink,
.activeSmallLink,
.nonActiveLink,
.nonActiveSmallLink {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.nonActiveLink {
	color: black;
}

.activeLink {
	color: var(--primary-blue);
	font-weight: bold;
}

.nonActiveSmallLink {
	color: black;
}

.activeSmallLink {
	color: white;
	font-weight: bold;
}

/* @media screen and (max-width: 767px) {
  .companyDescriptionSmallWrapper {
    width: 75%;
  }
} */

@media screen and (min-width: 768px) {
	.container,
	.scrollContainer,
	.main,
	.footer {
		width: 90%;
		margin: auto;
	}

	.container {
		padding: 0;
	}

	.companyNameLogo {
		margin-left: 0;
	}

	.companyNameTitle {
		display: block;
	}

	.companyDescriptionLargeContainer {
		display: flex;
	}

	.companyDescriptionSmallContainer {
		display: none;
	}

	.scrollContainer {
		top: 0;
		left: 0%;
	}

	.footerDescriptionWrapper {
		width: 30%;
		height: 20em;
	}

	.footerHelpWrapper {
		width: 70%;
		margin: none;
		padding: none;
		/* padding-left: 0.5em; */
	}

	.footerImage {
		width: 200;
		/* height: */
	}

	.footerInfo {
		height: 18em;
	}

	.footerCopyright {
		justify-content: left;
		height: 2em;
	}

	.hamburgerIcon {
		display: none;
	}

	.navbarContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 0.5rem;
		padding: 10px;
	}
}

@media screen and (min-width: 1024px) {
	.container,
	.scrollContainer,
	.main,
	.footer {
		width: 75%;
		margin: auto;
	}

	.companyDescriptionSmallWrapper {
		width: 50%;
	}
}

@media screen and (min-width: 1400px) {
	.companyDescriptionSmallWrapper {
		width: 40%;
	}
}
