.container {
	position: relative;
	width: 100%;
	/* height: 6em; */
	/* padding: 0px 0.5rem; */
}

.scrollContainer {
	width: 100%;
	/* height: 6em; */
	padding: 0px;
	position: sticky;
	top: 0%;
}

.container,
.scrollContainer {
	z-index: 1000;
	background-color: var(--gray-footer);
	transition: linear;
	transition-delay: 0.15s;
	transition-duration: 0.15s;
	transition-delay: 0.15s;
}

.containerWrapper {
	width: 100%;
}

.main {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1rem 0px;
	/* border-width: 1px; */
	/* border-color: red; */
}

.mainWrapper {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.companyNameContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5em;
}

.companyNameWrapper {
	width: 50%;
	/* height: 10%; */
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.companyNameLogo {
	width: 60%;
	/* margin-top: 0.5rem; */
	margin-left: 0.5rem;
}

.companyNameTitle {
	display: none;
}

.languageContainer {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}

.companyDescriptionLargeContainer {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

.companyDescriptionLargeWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 0.5rem;
}

.companyDescriptionLargeWrapper {
	justify-content: space-between;
}

.companyDescriptionLargeItem {
	width: 50%;
	text-align: center;
	padding: 10px;
	color: var(--primary-red);
}

.footer {
	background-color: var(--background-footer-color);
	width: 100%;
	height: auto;
	padding-top: 1.5rem;
	padding-bottom: 0.25rem;
	/* border-width: 1px; */
	/* border-color: var(--primary-blue); */
}

.footerWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footerDescriptionWrapper {
	width: 100%;
	height: 100%;
	padding: 0px 0.75em;
	margin-bottom: 0.5em;
}

.footerImage {
	width: 100%;
	height: 15em;
}

.footerAddress {
	max-width: 250px;
	font-size: 14px;
	line-height: 19px;
	color: white;
}

.footerHelpWrapper {
	width: 100%;
	height: 12.5em;
	padding: 0px 0.5em;
	margin: 0.5rem 0px;
}

.footerInfo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 2.5em;
}

.footerInfoItem {
	padding: 1em 0.5em;
}

.buttonInfoItem {
	color: white !important;
	border-color: white !important;
}

.buttonInfoItem:hover {
	color: var(--background-footer-color) !important;
	border-color: var(--background-footer-color) !important;
}

.footerCopyright {
	width: 100%;
	border-top: 1px solid #868a92;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0px;
	margin-bottom: 1.75em;
}

.navbarContainer {
	display: none;
}

.smallNavbarContainer {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	width: 100%;
	height: auto;
	background: var(--gray-footer);
	/* padding-top: 1rem; */
	margin-top: 1em;
	padding-bottom: 0.5em;

	z-index: 100;
	position: fixed;
	top: 7%;
	color: white;
}

.hamburgerIcon {
	display: block;
	margin: 0px 0.5em;
}

.closeIcon {
	color: red;
	font-size: 2em;
	display: inline-flex;
	float: right;
	margin-top: 0.5rem;
	margin-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.activeLink,
.activeSmallLink,
.nonActiveLink,
.nonActiveSmallLink {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.nonActiveLink {
	color: var(--primary-blue);
}

.activeLink {
	color: var(--gray);
	font-weight: bold;
}

.nonActiveSmallLink {
	color: var(--primary-blue);
}

.activeSmallLink {
	color: var(--gray);
	font-weight: bold;
}

@media screen and (min-width: 425px) {
	.footerHelpWrapper {
		height: 9em;
	}
}

@media screen and (min-width: 768px) {
	.container,
	.scrollContainer {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	}
	/* .mainWrapper, */
	.containerWrapper,
	.footerWrapper {
		width: 90%;
		margin: auto;
	}

	.container {
		padding: 0;
		height: 6em;
	}

	.scrollContainer {
		padding: 0px 0.5rem;
		height: 6em;
	}

	.companyNameWrapper {
		width: 80%;
		margin-top: 1.25em;
	}

	.companyNameLogo {
		width: 20%;
		margin-left: 0;
	}

	.companyNameTitle {
		width: 60%;
		display: block;
	}

	.languageContainer {
		width: 20%;
	}

	.companyDescriptionLargeContainer {
		width: 100%;
	}

	.scrollContainer {
		position: sticky;
		top: 0;
		left: 0%;
	}

	.footerDescriptionWrapper {
		width: 30%;
		height: 22.5em;
		padding-left: 0px;
	}

	.footerHelpWrapper {
		width: 70%;
		/* height: 12.5em; */
		margin: none;
		padding: none;
		/* padding-left: 0.5em; */
	}

	.footerImage {
		width: 200;
		/* height: */
	}

	/* .footerInfo {
		height: 18em;
	} */

	.footerInfoItem {
		padding: 1em 0px;
		width: 30%;
	}

	.footerCopyright {
		justify-content: left;
		height: 2em;
	}

	.hamburgerIcon {
		display: none;
	}

	.navbarContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 70%;
		padding: 10px;
	}
}

@media screen and (min-width: 1024px) {
	/* .container,
	.scrollContainer, */
	/* .mainWrapper, */
	.containerWrapper,
	.footerWrapper {
		width: 75%;
		margin: auto;
	}
}

/* @media screen and (min-width: 1280px) {
	.footerDescriptionWrapper {
		height: 15em;
	}
} */
