.companyServicesContainer {
	width: 100%;
	padding-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.companyServicesItemWrapper {
	display: flex;
	margin-top: 3em;
	width: 100%;
}

.companyServicesItemSubTitle {
	font-weight: 600;
	font-size: 0.75rem;
	color: var(--gray);
	margin-top: 8px;
}

.companySuperiorityContainer {
	width: 100%;
	padding: 1rem 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.companySuperiorityItemWrapper {
	display: flex;
	width: 100%;
	min-height: 275px;
	margin-bottom: 1.5em;
}

h2.companySuperiorityItemCardHeading:first-letter {
	color: var(--primary-red) !important;
}

.ourService,
.ourSuperiority,
.ourCareer {
	width: 100%;
	position: relative;
}

.ourSuperiorityClip {
	background-image: url("/assets/Desktop-3.svg");
	background-position: 30% 15%;
	background-repeat: no-repeat;
}

.ourServiceClip {
	background-image: url("/assets/Desktop-1.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.ourSuperiorityClip,
.ourServiceClip {
	position: absolute;
	width: 100%;
	height: 100%;
}

.displayArrowForwardIcon,
.displayArrowDownIcon {
	color: var(--primary-blue) !important;
}

.displayArrowForwardIcon {
	display: none !important;
}

.displayArrowDownIcon {
	display: block !important;
}

@media screen and (min-width: 768px) {
	.ourService,
	.ourSuperiority,
	.ourCareer {
		width: 90%;
		margin: auto;
	}

	.companySuperiorityItemWrapper {
		width: 45%;
		margin-top: 1.5em;
	}

	.ourSuperiorityClip {
		background-position: 17.5% 25%;
		background-repeat: no-repeat;
	}
	
	.ourServiceClip {
		background-position: 100% 0%;
		background-repeat: no-repeat;
	}

	.displayArrowForwardIcon {
		display: block !important;
	}
	.displayArrowDownIcon {
		display: none !important;
	}
}

/* @media screen and (min-width: 1400px) {

} */

@media screen and (min-width: 1024px) {
	.ourService,
	.ourSuperiority,
	.ourCareer {
		width: 75%;
		margin: auto;
	}

	.companyServicesItemWrapper {
		width: 50%;
		height: 175px;
	}

	.companyServicesItemSubTitle {
		max-width: 350px;
	}
}

@media screen and (min-width: 1240px) {
	.companySuperiorityItemWrapper {
		margin-top: 3em;
		width: 22.5%;
	}

	.ourSuperiorityClip {
		background-repeat: no-repeat;
		background-position: 0% 27.5%;
	}
	
	.ourServiceClip {
		background-position: 100% 33%;
		background-repeat: no-repeat;
	}
}
